.text-center{
    margin-top: 50px;
}



@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity:0;
}
.text-center {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:rgb(139, 66, 6);
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
